__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

.venv/
venv/
.nox/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

# Scratch space for tools/refresh_spdx.py: the upstream license-list-data tree it downloads.
.spdx-release/

.DS_Store
